

.top, 
.bottom {
    display: flex;
    padding: 0 100px;
    margin: 0;
    justify-content: space-between;
    align-items: center;
}

.bottom {
    padding: 50px 100px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 8px;
}

li {
    list-style-type: none;

}

a {
    text-decoration: none;
    color: red;
}

.aotlogo,
.description {
    width: 500px;
    padding: 0;
    margin: 0;
}

.bottom-header {
    font-size: 36px;
}

.bottom-desc {
    margin: 8px 0;
}

.wings-icon {
    width: 50px;
    height: auto;
}

.pics {
    width: 300px;
    height: 400px;
}

p {
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.quote-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.quote-text, 
.quote-author {
    width: 500px;
}

.quote-author {
    text-align: right;
}